body {
  padding-top: 50px;
  background: linear-gradient(White, #C7F1FF);
  background-repeat: no-repeat;
  height: 720px;
}

#kaziir {
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #3BF2FF;
}

#pic {
	background-size: 100%;
	background-size: contain;
	height: 350px;
	background-position: top;
	vertical-align: top;
	background-image: url(../img/passions.png);
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	#pic {
		height: 500px;
	}
}


#stuff {
	width:100%;
}


.graphic {

	max-height: 500px;
}

.left {
}

.graphic {
	margin-left: 100px;
}

.spacing {
	width: 250px;
}

.right {
padding-top: 50px;
}

.form-group {
	max-width: 300px;
}

#cp {
	font-family: 'Roboto',serif;
	font-size: 14px;
	padding-top: 20px;
}

h1 {	
	padding: 50px;
	font-family: 'Roboto',serif;
	font-size: 32px;
	font-weight: bold;
}

p {	
	font-family: 'Roboto',sans-serif;
	font-size: 24px;
	font-weight: bold;
}